.homepage {
    text-decoration: none;
    color: black;
}

#preloader {
    background: rgb(0, 0, 0) url(https://miro.medium.com/max/1400/1*Cqy_AXXi0IRNld3iqOUv3Q.gif) no-repeat center;
    background-size: 50%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.button {
    border-radius: 2em;
    background-color: #023652;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 2px;
    width: 180px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.lastsubmit {
    background-color: #1e2122;
    color: bisque;
}

.lastsubmit:hover {
    color: rgb(24, 136, 99);
}

.homenav:hover {
    background-color: #505151;
    border: #023652;
    border-style: solid;
    border-top-right-radius: 1.01em;
    border-bottom-right-radius: 1.01em;
    text: white;
    font-weight: 900;
    font-size: 1.2em;
}

.calci {
    font-family: monospace;
    font-weight: 700;
    font-size: 1.73em;
}

.block:hover {
    background: rgb(162, 159, 159) no-repeat center;
    background-size: 100%;
    color: rgb(2, 51, 74);
}

.table1 {
    margin-left: auto;
    margin-right: auto;
}

th {
    font-size: 1.3em;
}

th,
td {
    padding: 13px;
}