.homepage {
    text-decoration: none;
    color: black;
}

#preloader {
    background: rgb(0, 0, 6) url(https://miro.medium.com/max/1400/1*Cqy_AXXi0IRNld3iqOUv3Q.gif) no-repeat center;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
}